:root {
  --vm-white: white;
  --vm-gray: #F6F8FC;
  --vm-orange: #FFCA42;
  --vm-blue: #1B3764;
}

.bg-blue {
  background: var(--vm-blue);
}

.bg-white {
  background: var(--vm-white);
}

.bg-gray {
  background: var(--vm-gray);
}

.bg-orange {
  background: var(--vm-orange);
}